body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("static/background_mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container_custom {
    white-space: nowrap;
    font-family: "Dejavu Sans", sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;

}

.left-panel_custom, .right-panel_custom {
    flex: 1;
    height: 100%;
    transition: background-color 0.5s;
    position: relative;
    overflow: hidden;
}

.text_custom {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s, transform 0.5s;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 5px;
}

.left-panel_custom:hover {
    background-color: rgba(0, 0, 0, 0.38);
}
.right-panel_custom:hover {
    background-color: rgba(0, 0, 0, 0.38);
}
.border_custom {
    width: 3px; /* Largeur de la bordure au milieu */
    background-color: #000; /* Couleur de la bordure */
    position: absolute;
    top: 20%;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}


.right-panel_custom:hover .text_custom {
    transform: translate(-50%, -50%) scale(1.2);

}
.left-panel_custom:hover .text_custom {
    transform: translate(-50%, -50%) scale(1.2);
}

.navbar {
    background-color: transparent; /* Arrière-plan transparent pour la navbar */
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    margin-right: 10px; /* Espace entre l'image et le texte */
}
.Titre {
    text-align: center;
}
.bouton-espace {
    margin-left: 10px; /* Espace entre les boutons */
    align-items: center;
    background-color: #b2b6f4;
    border-radius: 20px;
    width: 150px;
    margin-top: 2px;

}
.no-wrap {
    white-space: nowrap;
}
.bouton-menu{
    padding-right: 10px;
}
.btn-custom:hover{
    background-color: #989eee; /* Changez la couleur en fonction de votre préférence */
    border-color: #3e43a4; /* Changez la couleur du texte en fonction de votre préférence */
    border-radius: 2px;
    border-radius: 20px;
}
